DATABASE_URL:postgres://nvgesjhghrfhcu:f35411d15f0b527d3a63cfc68cf2705df912d5f266c41bce45530560f3218a0d@ec2-107-20-198-176.compute-1.amazonaws.com:5432/d7n459ov8f6val
Event_Source:/streamshift-northwinds
Event_Type:streamshift.salesforce.cdc
KAFKA_CONSUMERGRP:demo-group
KAFKA_TOPIC:dynotest
KAFKA_URL:kafka://kafpoc.use-nts.com:9092
SF_PASS:F@ster!20PcvGmG09p2xb7c6pWE3LG21b
SF_TOPIC:/data/ChangeEvents
SF_URL:https://test.salesforce.com
SF_USER:rscott@northwindstech.com.ntspoc.cleanary